<clr-main-container>
  <header class="header header-3">
    <div class="branding">
      <a>
        <clr-icon shape="group"></clr-icon>
        <span class="title">Hobnob</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link" routerLink="/articles" ><span class="nav-text">Articles</span></a>
      <a class="nav-link" routerLink="/authors" ><span class="nav-text">Authors</span></a>
    </div>
    <div class="header-actions">
    </div>
    <div class="header-nav">
      <a class="nav-link" routerLink="/login" *ngIf="userService.isGuest()" ><span class="nav-text">Login</span></a>
      <a class="nav-link" (click)="logout()" *ngIf="!userService.isGuest()" ><span class="nav-text">Logout</span></a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
